@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --color-ios-blue: #007AFF;
}

@layer base {
  body {
    @apply antialiased text-[#1C1C1E] bg-[#F2F2F7];
    -webkit-tap-highlight-color: transparent;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
